<div class="ui small remove modal transition" style="margin-top: -98px;">
<i class="close icon"></i>
<div class="header">
    删除仓库: {{ vm.selectedRegistry.name }}
</div>
<div class="content">
    <p>您确定要删除这个仓库?</p>
</div>
<div class="actions">
    <div class="ui negative button">
        否
    </div>
    <div ng-click="vm.removeRegistry()" class="ui positive right labeled icon button">
        是
        <i class="checkmark icon"></i>
    </div>
</div>
</div>

<div class="ui padded grid">
    <div class="two column row">
        <div class="left floated column">
            <div ng-click="vm.refresh()" class="ui small blue labeled icon button">
                <i class="refresh icon"></i> 刷新 
            </div>
            <div ui-sref="dashboard.addRegistry" class="ui small green labeled icon button">
                <i class="plus icon"></i> 添加仓库
            </div>
        </div>

        <div class="right aligned right floated column">
            <div class="ui small icon input">
                <input ng-model="tableFilter" placeholder="Search registries..." reset-field/>
            </div>
        </div>
    </div>

    <div class="row" ng-show="vm.registries.length === 0">
        <div class="column">
            <div class="ui icon message">
                <i class="info icon"></i>
                <div class="content">
                    <div class="header">
                        仓库
                    </div>
                    <p>没有私人镜像仓库.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="filteredRegistries.length === 0">
        <div class="column">
            <table class="ui sortable celled table">
                <thead ng-hide="">
                    <tr>
                        <th>镜像仓库</th>
                        <th>镜像仓库地址</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in filteredRegistries = (vm.registries | filter:tableFilter)">
                        <td>{{r.name}}</td>
                        <td>{{r.addr}}</td>
                        <td class="collapsing">
                            <div ui-sref="dashboard.inspectRegistry(r)" class="compact ui icon button">
                                <i class="search icon"></i>
                            </div>
                            <div ng-click="vm.showRemoveRegistryDialog(r)" class="compact ui icon button red">
                                <i class="trash icon"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" ng-show="vm.registries.length > 0 && filteredContainers.length === 0">
        <div class="column">
            <div class="ui icon message">
                <i class="info icon"></i>
                <div class="content">
                    <div class="header">
                        仓库
                    </div>
                    <p>抱歉，没搜索到您要的仓库</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$('.ui.sortable.celled.table').tablesort();
</script>
